.login-container{
    padding-top: 7rem;
}

.login-card{
  width: 50%;
}

 h2{
   text-align: center;
   color: #5d5a5a;
   margin:10%;
   padding: 10px;
 }

 p{
   text-align: center;
 }


 .example-full-width {
   width: 100%;
 }

 .error{
   color:red;
 }
